

:root {
  --white: #fcfcfc;
  --black: #f0c905;
  
  --purple: #cf07fb;
  --purple-gradient:  linear-gradient(to top,  #9733EE, #cf07fb); 
  
  /*--green: #49e691; */
  --green:#ff5f00;
  --green-gradient: linear-gradient(to top, #061700, #49e691); 
}

body {
  background-color: #3b0544;
  color:white;
    font-size:2rem;

 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
    
 

}

h1 {
  text-align: center;
    
  
}

.box {
  background:#ffab00;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 200px;
  margin: 3rem;
  border-radius: 10px;
    font-size: 2rem;
 

}

.box a{
  
    text-decoration-line: none;  
    font-weight: 800px;
}

.box a:hover{
    color:purple;
}
.box a: active{
    color:purple;
}


.box h2 {
  font-size: 120px;
    font-family: 'Do Hyeon', sans-serif, lighter;
    
}
